src/main/resources/wsdl/file.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by the JavaTM Architecture for XML Binding(JAXB) Reference Implementation, (build IBM 2.2.10-06/29/2016 1:04:51 PMforeman-)
See <a href="http://java.sun.com/xml/jaxb">http://java.sun.com/xml/jaxb</a>--><xs:schema elementFormDefault="qualified" version="1.0" targetNamespace="http://localhost:8090/file" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://localhost:8090/file">
  <xs:element name="Activation" type="tns:Activation"/>
  <xs:element name="ActivationConfirmation" type="tns:ActivationConfirmation"/>
  <xs:element name="ActivationConfirmationResponse" type="tns:ActivationConfirmationResponse"/>
  <xs:element name="ActivationResponse" type="tns:ActivationResponse"/>
  <xs:element name="ChangeOfflineMode" type="tns:ChangeOfflineMode"/>
  <xs:element name="ChangeOfflineModeResponse" type="tns:ChangeOfflineModeResponse"/>
  <xs:element name="ChangeUserMode" type="tns:ChangeUserMode"/>
  <xs:element name="ChangeUserModeResponse" type="tns:ChangeUserModeResponse"/>
  <xs:element name="Delete" type="tns:Delete"/>
  <xs:element name="DeleteResponse" type="tns:DeleteResponse"/>
  <xs:element name="GenerateAuthorizationCode" type="tns:GenerateAuthorizationCode"/>
  <xs:element name="GenerateAuthorizationCodeResponse" type="tns:GenerateAuthorizationCodeResponse"/>
  <xs:element name="GenerateChallenge" type="tns:GenerateChallenge"/>
  <xs:element name="GenerateChallengeResponse" type="tns:GenerateChallengeResponse"/>
  <xs:element name="GetOnlineCode" type="tns:GetOnlineCode"/>
  <xs:element name="GetOnlineCodeResponse" type="tns:GetOnlineCodeResponse"/>
  <xs:element name="OtpGetMechanism" type="tns:OtpGetMechanism"/>
  <xs:element name="OtpGetMechanismResponse" type="tns:OtpGetMechanismResponse"/>
  <xs:element name="OtpValidateCode" type="tns:OtpValidateCode"/>
  <xs:element name="OtpValidateCodeResponse" type="tns:OtpValidateCodeResponse"/>
  <xs:element name="PutOnlineCode" type="tns:PutOnlineCode"/>
  <xs:element name="PutOnlineCodeResponse" type="tns:PutOnlineCodeResponse"/>
  <xs:element name="RegisterDevice" type="tns:RegisterDevice"/>
  <xs:element name="RegisterDeviceResponse" type="tns:RegisterDeviceResponse"/>
  <xs:element name="SendInformation" type="tns:SendInformation"/>
  <xs:element name="SendInformationResponse" type="tns:SendInformationResponse"/>
  <xs:element name="Suspend" type="tns:Suspend"/>
  <xs:element name="SuspendResponse" type="tns:SuspendResponse"/>
  <xs:element name="UnSuspend" type="tns:UnSuspend"/>
  <xs:element name="UnSuspendResponse" type="tns:UnSuspendResponse"/>
  <xs:element name="UserBlacklistStatus" type="tns:UserBlacklistStatus"/>
  <xs:element name="UserBlacklistStatusResponse" type="tns:UserBlacklistStatusResponse"/>
  <xs:element name="UserKeyQxStatus" type="tns:UserKeyQxStatus"/>
  <xs:element name="UserKeyQxStatusResponse" type="tns:UserKeyQxStatusResponse"/>
  <xs:element name="UserStatus" type="tns:UserStatus"/>
  <xs:element name="UserStatusResponse" type="tns:UserStatusResponse"/>
  <xs:element name="ValidateAuthorizationCode" type="tns:ValidateAuthorizationCode"/>
  <xs:element name="ValidateAuthorizationCodeResponse" type="tns:ValidateAuthorizationCodeResponse"/>
  <xs:element name="ValidateResponse" type="tns:ValidateResponse"/>
  <xs:element name="ValidateResponseResponse" type="tns:ValidateResponseResponse"/>
  <xs:element name="ValidateTransaction" type="tns:ValidateTransaction"/>
  <xs:element name="ValidateTransactionResponse" type="tns:ValidateTransactionResponse"/>
  <xs:element name="activationConfirmationReq" type="tns:ActivationConfirmationReq"/>
  <xs:element name="activationReq" type="tns:ActivationReq"/>
  <xs:element name="changeOfflineModeReq" type="tns:ChangeOfflineModeReq"/>
  <xs:element name="changeUserModeReq" type="tns:ChangeUserModeReq"/>
  <xs:element name="generateAuthorizationCodeReq" type="tns:GenerateAuthorizationCodeReq"/>
  <xs:element name="operationResponse" type="tns:OperationResponse"/>
  <xs:element name="otpData" type="tns:OtpData"/>
  <xs:element name="otpMechanism" type="tns:OtpMechanism"/>
  <xs:element name="otpMechanismList" type="tns:OtpMechanismList"/>
  <xs:element name="parameter" type="tns:Parameter"/>
  <xs:element name="parameterList" type="tns:ParameterList"/>
  <xs:element name="registerDeviceReq" type="tns:RegisterDeviceReq"/>
  <xs:element name="response" type="tns:Response"/>
  <xs:element name="sendInformationReq" type="tns:SendInformationReq"/>
  <xs:element name="sendPush" type="tns:sendPush"/>
  <xs:element name="sendPushResponse" type="tns:sendPushResponse"/>
  <xs:element name="transactionData" type="tns:TransactionData"/>
  <xs:element name="transactionResponse" type="tns:TransactionResponse"/>
  <xs:element name="userStatusResponseReq" type="tns:UserStatusResponseReq"/>
  <xs:element name="validateAuthorizationCodeReq" type="tns:ValidateAuthorizationCodeReq"/>
  <xs:complexType name="ActivationConfirmation">
    <xs:sequence>
      <xs:element name="ActivationConfirmationReq" type="tns:ActivationConfirmationReq" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ActivationConfirmationReq">
    <xs:sequence>
      <xs:element name="userId" type="xs:string"/>
      <xs:element name="confirmationCode" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ActivationConfirmationResponse">
    <xs:sequence>
      <xs:element ref="tns:operationResponse" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OperationResponse">
    <xs:sequence>
      <xs:element name="statusCode" type="xs:int" nillable="true"/>
      <xs:element name="statusDescription" type="xs:string" nillable="true" minOccurs="0"/>
      <xs:element name="data" type="xs:string" nillable="true" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GenerateChallenge">
    <xs:sequence>
      <xs:element name="TransactionData" type="tns:TransactionData" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TransactionData">
    <xs:sequence>
      <xs:element name="userId" type="xs:string"/>
      <xs:element name="operationId" type="xs:string"/>
      <xs:element name="operationData" type="tns:ParameterList"/>
      <xs:element name="qrSize" type="xs:int"/>
      <xs:element name="connected" type="xs:string" nillable="true" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ParameterList">
    <xs:sequence>
      <xs:element ref="tns:parameter" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Parameter">
    <xs:sequence>
      <xs:element name="key" type="xs:string"/>
      <xs:element name="value" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GenerateChallengeResponse">
    <xs:sequence>
      <xs:element ref="tns:operationResponse" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ChangeOfflineMode">
    <xs:sequence>
      <xs:element name="ChangeOfflineModeReq" type="tns:ChangeOfflineModeReq" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ChangeOfflineModeReq">
    <xs:sequence>
      <xs:element name="userId" type="xs:string"/>
      <xs:element name="offline" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ChangeOfflineModeResponse">
    <xs:sequence>
      <xs:element ref="tns:operationResponse" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Activation">
    <xs:sequence>
      <xs:element name="ActivationReq" type="tns:ActivationReq" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ActivationReq">
    <xs:sequence>
      <xs:element name="userId" type="xs:string"/>
      <xs:element name="qrSize" type="xs:int"/>
      <xs:element name="connected" type="xs:string" nillable="true" minOccurs="0"/>
      <xs:element name="confirmationCode" type="xs:string" nillable="true" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ActivationResponse">
    <xs:sequence>
      <xs:element ref="tns:operationResponse" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OtpGetMechanism">
    <xs:sequence>
      <xs:element name="UserId" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OtpGetMechanismResponse">
    <xs:sequence>
      <xs:element ref="tns:otpMechanismList" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OtpMechanismList">
    <xs:sequence>
      <xs:element ref="tns:otpMechanism" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OtpMechanism">
    <xs:sequence>
      <xs:element name="id" type="xs:int" nillable="true"/>
      <xs:element name="name" type="xs:string" nillable="true" minOccurs="0"/>
      <xs:element name="status" type="xs:int" nillable="true"/>
      <xs:element name="statusName" type="xs:string" nillable="true" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UnSuspend">
    <xs:sequence>
      <xs:element name="userId" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UnSuspendResponse">
    <xs:sequence>
      <xs:element ref="tns:operationResponse" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sendPush">
    <xs:sequence>
      <xs:element name="userId" type="xs:string" minOccurs="0"/>
      <xs:element name="message" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sendPushResponse">
    <xs:sequence>
      <xs:element ref="tns:operationResponse" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetOnlineCode">
    <xs:sequence>
      <xs:element name="userId" type="xs:string" minOccurs="0"/>
      <xs:element name="transactionId" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetOnlineCodeResponse">
    <xs:sequence>
      <xs:element ref="tns:operationResponse" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ValidateResponse">
    <xs:sequence>
      <xs:element name="Response" type="tns:Response" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Response">
    <xs:sequence>
      <xs:element name="userId" type="xs:string"/>
      <xs:element name="confirmationCode" type="xs:string"/>
      <xs:element name="isOnlineResponse" type="xs:boolean" nillable="true"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ValidateResponseResponse">
    <xs:sequence>
      <xs:element ref="tns:operationResponse" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OtpValidateCode">
    <xs:sequence>
      <xs:element name="OtpData" type="tns:OtpData" minOccurs="0"/>
      <xs:element name="ConfirmationCode" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OtpData">
    <xs:sequence>
      <xs:element name="userId" type="xs:string"/>
      <xs:element name="operationId" type="xs:string"/>
      <xs:element name="operationData" type="xs:string" nillable="true" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OtpValidateCodeResponse">
    <xs:sequence>
      <xs:element ref="tns:operationResponse" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SendInformation">
    <xs:sequence>
      <xs:element name="SendInformationReq" type="tns:SendInformationReq" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SendInformationReq">
    <xs:sequence>
      <xs:element name="userId" type="xs:string"/>
      <xs:element name="information" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SendInformationResponse">
    <xs:sequence>
      <xs:element ref="tns:operationResponse" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Delete">
    <xs:sequence>
      <xs:element name="userId" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DeleteResponse">
    <xs:sequence>
      <xs:element ref="tns:operationResponse" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ChangeUserMode">
    <xs:sequence>
      <xs:element name="ChangeUserModeReq" type="tns:ChangeUserModeReq" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ChangeUserModeReq">
    <xs:sequence>
      <xs:element name="userId" type="xs:string"/>
      <xs:element name="mode" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ChangeUserModeResponse">
    <xs:sequence>
      <xs:element ref="tns:operationResponse" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UserStatus">
    <xs:sequence>
      <xs:element name="userId" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UserStatusResponse">
    <xs:sequence>
      <xs:element ref="tns:userStatusResponseReq" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UserStatusResponseReq">
    <xs:sequence>
      <xs:element name="status" type="xs:int"/>
      <xs:element name="description" type="xs:string"/>
      <xs:element name="mode" type="xs:int" nillable="true"/>
      <xs:element name="offline" type="xs:int" nillable="true"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ValidateTransaction">
    <xs:sequence>
      <xs:element name="TransactionResponse" type="tns:TransactionResponse" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TransactionResponse">
    <xs:sequence>
      <xs:element name="userId" type="xs:string"/>
      <xs:element name="operationId" type="xs:string"/>
      <xs:element name="operationData" type="tns:ParameterList"/>
      <xs:element name="confirmationCode" type="xs:string"/>
      <xs:element name="isOnlineResponse" type="xs:boolean" nillable="true"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ValidateTransactionResponse">
    <xs:sequence>
      <xs:element ref="tns:operationResponse" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ValidateAuthorizationCode">
    <xs:sequence>
      <xs:element name="ValidateAuthorizationCodeReq" type="tns:ValidateAuthorizationCodeReq" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ValidateAuthorizationCodeReq">
    <xs:sequence>
      <xs:element name="userId" type="xs:string"/>
      <xs:element name="code" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ValidateAuthorizationCodeResponse">
    <xs:sequence>
      <xs:element ref="tns:operationResponse" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PutOnlineCode">
    <xs:sequence>
      <xs:element name="userId" type="xs:string" minOccurs="0"/>
      <xs:element name="code" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PutOnlineCodeResponse">
    <xs:sequence>
      <xs:element ref="tns:operationResponse" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UserBlacklistStatus">
    <xs:sequence>
      <xs:element name="userId" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UserBlacklistStatusResponse">
    <xs:sequence>
      <xs:element ref="tns:userStatusResponseReq" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GenerateAuthorizationCode">
    <xs:sequence>
      <xs:element name="GenerateAuthorizationCodeReq" type="tns:GenerateAuthorizationCodeReq" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GenerateAuthorizationCodeReq">
    <xs:sequence>
      <xs:element name="userId" type="xs:string"/>
      <xs:element name="codeLength" type="xs:int"/>
      <xs:element name="codeTimeOut" type="xs:int"/>
      <xs:element name="channel" type="xs:string"/>
      <xs:element name="phone" type="xs:string" nillable="true" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GenerateAuthorizationCodeResponse">
    <xs:sequence>
      <xs:element ref="tns:operationResponse" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Suspend">
    <xs:sequence>
      <xs:element name="userId" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SuspendResponse">
    <xs:sequence>
      <xs:element ref="tns:operationResponse" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RegisterDevice">
    <xs:sequence>
      <xs:element name="RegisterDeviceReq" type="tns:RegisterDeviceReq" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RegisterDeviceReq">
    <xs:sequence>
      <xs:element name="userId" type="xs:string"/>
      <xs:element name="deviceToken" type="xs:string"/>
      <xs:element name="deviceType" type="xs:string"/>
      <xs:element name="deviceOs" type="xs:string"/>
      <xs:element name="confirmationCode" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RegisterDeviceResponse">
    <xs:sequence>
      <xs:element ref="tns:operationResponse" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UserKeyQxStatus">
    <xs:sequence>
      <xs:element name="userId" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UserKeyQxStatusResponse">
    <xs:sequence>
      <xs:element ref="tns:userStatusResponseReq" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
